{% extends 'principal.html' %}

{% block titulo %} Dashboard {% endblock %}

{% block estilos %}     

<link rel="stylesheet" href="../static/css/dashboard.css"> 

{% endblock %}

{% block contenido %}

<h1>Dashboard</h1>

<div class="row">
    <h3 id="titulo">Incidentes Activos por Severidad</h3>
    <hr>
    <div class="card-group justify-content-center">
        <div class="card text-center text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Severidad Baja</div>
            <div class="card-body">
                <h1 class="card-title" style="font-size: 5em;"><a href="#" id="contadorsev">{{severidad.contBaja}}</a></h1>
            </div>
        </div>
        <div class="card  text-center text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Severidad Media</div>
            <div class="card-body">
                <h1 class="card-title" style="font-size: 5em;"><a href="#" id="contadorsev">{{ severidad.contMedia }}</a></h1>
            </div>
        </div>
        <div class="card text-center text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Severidad Alta</div>
            <div class="card-body">
                <h1 class="card-title" style="font-size: 5em;"><a href="#" id="contadorsev">{{ severidad.contAlta }}</a></h1>
            </div>
        </div>
    </div>
</div>
<h3 id="titulo">TOP 5 de Interés</h3>
<hr>
<div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Servicios mas Afectados</h5>
                <p class="card-text">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Servicio</th>
                                <th scope="col">Total</th>
                                <th scope="col">Activos</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for a in ambiente %}
                                <tr class="table">
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{a.0}}</td>
                                    <td id="tdnumerico">{{a.1}}</td>
                                    <td id="tdnumerico">{{a.2}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ubicaciones mas afectadas</h5>
                <p class="card-text">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Total</th>
                                <th scope="col">Activos</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for u in ubicacion %}
                                <tr class="table">
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{u.0}}</td>
                                    <td id="tdnumerico">{{u.1}}</td>
                                    <td id="tdnumerico">{{u.2}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
    
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ambientes mas Afectados</h5>
                <p class="card-text">
                    
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ambiente</th>
                            <th scope="col">Total</th>
                            <th scope="col">Activos</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for a in ambiente %}
                            <tr class="table">
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{a.0}}</td>
                                <td id="tdnumerico">{{a.1}}</td>
                                <td id="tdnumerico">{{a.2}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tipos de Incidente</h5>
                <p class="card-text">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tipo de Incidente</th>
                                <th scope="col">Total</th>
                                <th scope="col">Activos</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for t in tipo %}
                                <tr class="table">
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{t.0}}</td>
                                    <td id="tdnumerico">{{t.1}}</td>
                                    <td id="tdnumerico">{{t.2}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Origenes</h5>
                <p class="card-text">
                    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Orígen</th>
                                <th scope="col">Total</th>
                                <th scope="col">Activos</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for o in origen %}
                                <tr class="table">
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{o.0}}</td>
                                    <td id="tdnumerico">{{o.1}}</td>
                                    <td id="tdnumerico">{{o.2}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>

</div>

{%endblock%}