{% extends 'principal.html' %}

{% block titulo %} Detalle de Incidente {% endblock %}

{% block contenido %}

<h1>DETALLE INCIDENTE</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID Incidente</th>
            <th scope="col">Estado</th>
            <th scope="col">Etapa</th>
            <th scope="col">Tipo de Incidente</th>
            <th scope="col">Origen de la Notificación</th>
            <th scope="col">Descripción del Incidente</th>
            <th scope="col">Clientes Afectados</th>
            <th scope="col">Proveedores Involucrados</th>
            <th scope="col">% de Activos Afectados</th>
            <th scope="col">Impacto</th>
            <th scope="col">Urgencia</th>
            <th scope="col">Severidad</th>
            <th scope="col">Comentarios</th>
            <th scope="col">Documentos</th>
            <th scope="col">Fecha de Registro</th>
            <th scope="col">Fecha de Cierre</th>
        </tr>
    </thead>
    <tbody>
            {% for d in detalle %}
            <tr class="table"></tr>
                <td>{{d.0}}</td>
                <td>{{d.1}}</td>
                <td>{{d.2}}</td>
                <td>{{d.3}}</td>
                <td>{{d.4}}</td>
                <td>{{d.5}}</td>
                {% for desc in descripciones %}
                <td>{{desc.0}}</td>
                <td>{{desc.1}}</td>
                <td>{{desc.2}}</td>
                {% endfor %}
                <td>{{d.9}}</td>
                <td>{{d.10}}</td>
                <td>{{d.11}}</td>
                <td>{{d.12}}</td>
                <td>{{d.13}}</td>
                <td>{{d.14}}</td>
                <td>{{d.15}}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

{%endblock%}


