{% extends 'principal.html' %}

{% block titulo %} Detalle de Incidente {% endblock %}

{% load bootstrap %}

{% block contenido %}

<h1>DETALLE INCIDENTE</h1>


<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <form action="" method=POST> 
          {% csrf_token %}
          <!--
          FORMULARIO ANTERIOR
          -->
          <div class="mb-3 col-8">
            {{ formulario.id_inc|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.id_estado|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.is_etapa|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.id_tipo|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.id_origen|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.desc_inc|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.cli_afectados|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.prov_involucrado|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.act_afectados|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.id_impacto|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.id_urgencia|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.id_severidad|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.cont_comentarios|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.cont_documentos|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.ts_inc|bootstrap }}
          </div>

          <div class="mb-3 col-8">
            {{ formulario.ts_cierre|bootstrap }}
          </div>

          <br>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button> &Tab; <button type="button" class="btn btn-danger"><a href="{% url 'activos' %}" style="text-decoration: none; color: inherit;">Volver</a></button>
        </form>
      </div>
      <div class="col">
      </div>
      
    </div>
  </div>

{%endblock%}
