{% extends 'principal.html' %}

{% block titulo %} Detalle deUsuario {% endblock %}

{% load bootstrap %}

{% block contenido %}

<h1>DETALLE DE USUARIO</h1>

<div class="container">
  <div class="row">
    <div class="col">
    </div>

    <div class="col-8">
      <form action="" method=POST> 
        {% csrf_token %}
          <!-- INPUT PARA NOMBRE DE USUARIO-->

          <div class="mb-3 col-8">
            <div class="form-group">
              <label class="control-label  " for="id_id">Nombre de Usuario</label>

              <div class=" ">
                <input type="text" name="id" value="{{ formulario.id }}" class=" form-control" required="" disabled="" id="id_id">  
            </div>  
          </div>

          <!-- INPUT PARA NOMBRE DE USUARIO-->
          <div class="mb-3 col-8">
            {{ formulario.username|bootstrap }}
          </div>

          <!-- INPUT PARA NOMBRE DE PILA DE USUARIO-->
          <div class="mb-3 col-8">
              {{ formulario.first_name|bootstrap }}
          </div>

          <!-- INPUT PARA APELLIDO DE USUARIO-->
          <div class="mb-3 col-8">
              {{ formulario.last_name|bootstrap }}
          </div>

          <!-- INPUT PARA CORREO DE USUARIO-->
          <div class="mb-3 col-8">
              {{ formulario.email|bootstrap }}
          </div>

          <!-- INPUT PARA DAR PERMISOS DE ADMINISTRADOR-->
          <div class="mb-3 col-8">
              {{ formulario.is_superuser|bootstrap }}
          </div>

          <!-- INPUT PARA HABILITAR EL USUARIO-->
          <div class="mb-3 col-8">
              {{ formulario.is_active|bootstrap }}
          </div>

          <!-- INPUT PARA FECHA DE CREACIÓN DEL USUARIO-->
          <div class="mb-3 col-8">
            {{ formulario.date_joined|bootstrap }}
        </div>

          <!-- INPUT PARA FECHA DE ULTIMO LOGIN DEL USUARIO-->
          <div class="mb-3 col-8">
            {{ formulario.last_login|bootstrap }}
          </div>

        <br>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button> &Tab; <button type="button" class="btn btn-danger"><a href="{% url 'administracion' %}" style="text-decoration: none; color: inherit;">Volver</a></button>
      </form>
    </div>

    <div class="col">
    </div>
    
  </div>
</div>

{%endblock%}