{% extends 'principal.html' %}

{% block titulo %} Nuevo Usuario {% endblock %}

{% load bootstrap %}

{% block contenido %}
<h1>Nuevo Usuario</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      <form action="" method=POST> 
        {% csrf_token %}

        <!-- INPUT PARA NOMBRE DE USUARIO-->
        <div class="mb-3 col-8">
          {{ formulario.username|bootstrap }}
        </div>

        <!-- INPUT PARA NOMBRE DE PILA DE USUARIO-->
        <div class="mb-3 col-8">
            {{ formulario.first_name|bootstrap }}
        </div>

        <!-- INPUT PARA APELLIDO DE USUARIO-->
        <div class="mb-3 col-8">
            {{ formulario.last_name|bootstrap }}
        </div>

        <!-- INPUT PARA APELLIDO DE USUARIO-->
        <div class="mb-3 col-8">
            {{ formulario.password|bootstrap }}
        </div>

        <!-- INPUT PARA CORREO DE USUARIO-->
        <div class="mb-3 col-8">
            {{ formulario.email|bootstrap }}
        </div>

        <!-- INPUT PARA DAR PERMISOS DE ADMINISTRADOR-->
        <div class="mb-3 col-8">
            {{ formulario.is_superuser|bootstrap }}
        </div>


        <!-- INPUT PARA HABILITAR EL USUARIO-->
        <div class="mb-3 col-8">
            {{ formulario.is_active|bootstrap }}
        </div>
    
       
        <button type="submit" class="btn btn-primary">Crear Usuario</button>
      </form>
    </div>
    <div class="col">
    </div>
    
  </div>
</div>
{%endblock%}