{% extends 'principal.html' %}

{% block titulo %} Perfil de Usuario {% endblock %}



{% block contenido %}

<h1>PERFIL DE USUARIO</h1>
<hr>
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="../static/img/perfil.png" width="248" height="153" alt=""/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    Último Inicio de Sesión
                </h5>
                <h6>
                    {{user.last_login}}
                </h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Usuario:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.username}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.first_name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Apellido:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.last_name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>          
</div>

{%endblock%}