<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/principal.css"> 
    {% block scripts %}  {% endblock %} <!-- BLOQUE PARA JAVASCRIPT-->
    {% block estilos %}  {% endblock %} <!-- BLOQUE PARA ESTILOS DINAMICOS-->
    <title>{% block titulo %} {% endblock %}</title><!-- BLOQUE PARA TITULO DINAMICO -->

  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="../static/img/IRA_Logo.png" width="50" height="55">&emsp; IRA - Incident Response Assistant</a>
      
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link active">Dashboard</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Incidentes</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'nuevo' %}">Nuevo Incidente</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'activos' %}">Incidentes Activos</a>
              </li>
            </ul>
          </li>
  
          <li class="nav-item ">
              <a href="{% url 'reportes' %}" class="nav-link active">Reportes</a>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="bi bi-person-circle"></i>
              {{ user.get_username }}</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <form class="d-flex" action="" method="POST">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="ID de Incidente" aria-label="busqueda">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container-fluid">
      <!-- BLOQUE PARA CONTENIDO DINAMICO -->
      {% block contenido %}
      {% endblock %}
      <br>


    </div>
    <br>
    <br>

    <footer class="footer bg-dark py-3 mt-auto fixed-bottom">
      <div class="container">
        &copy; Copyright 2021 Jorge Martelli
      </div>
    </footer>
    
  </body>


</html>